.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  width: 100%;
}

.label {
  display: block;
  font-size: 1.5rem;
  text-align: left;
}

.input {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.3rem;
}

.submitButton {
  justify-self: end;
}
