.setupContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 1rem;
}

.setupForm > input {
  display: block;
  margin: auto;
}

.setupContainer button {
  width: 200px;
  margin: 0 auto;
}
