.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.cueCard {
  margin-top: auto;
}

.cueText {
  font-size: 4rem;
}

.flipBtn {
  margin-top: auto;
  margin-bottom: 2rem;
  width: 100%;
}
