.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
}

.ranges {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.rangeBtn {
  padding: 1em;
}
